.footer {
    background-color: #2C343E;
    padding: 47px 0px;

    .container {
        display: flex;
        align-items: center;
    }

    &__link__box {
        padding-left: 103px;
    }

    &__link {
        color: #83888F;
        font-family: 'Barlow';
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        text-transform: uppercase;

        & + & {
            margin-left: 25px;
        }

        &:hover {
            color: #fff;
        }
    }
    
    &__pic__boxx {
        padding-left: 580px;
    }

}

.path__hover:hover {
    fill: #FDD6BA;
}